body{
    background-color: rgb(255, 204, 127);
font-family: Arial, Helvetica, sans-serif;
color: rgb(41, 73, 19);
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div{
    display: flex;
    justify-content: space-between;
    height: 100%;
    
    
}
#parrafo1{
font-size: 150%;
color: azure;
}

button {
    background-color: rgb(165, 92, 79);
    color: rgb(19, 17, 16);
    padding: 1%;
    border: none;
    border-radius: 30px;
}

button:hover{
    

    transition: 0.3s;
    background-color: azure
    
}

